html,body{
    background: linear-gradient(90deg,pink,skyblue);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #333;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: none;
    box-shadow: 0px 10px 70px 10px black;
}
input
{
    width: 70%;
    height: 15%;
    border-radius: 5px;
    font-size: 16px;
    padding: 2%;
    box-shadow: 1px 1px 10px inset black;
}
.display
{
    width: 400px;
    height: 100px;
    background: #333;
    box-shadow: 0px 10px 70px 10px black;
    border-radius: 10px;
    position: relative;
    top: -30%;
}
.Verifier
{
    position: absolute;   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #333;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 10px 70px 10px black;
    bottom: 10%;
}